<div >
  <button mat-raised-button color="primary" (click)="viewAddUser()">
      <mat-icon >add</mat-icon>
      <span></span>
      <mat-icon >person</mat-icon><br>      
    Add user
  </button><br> 
  <button mat-raised-button color="primary" (click)="viewAllUsers()">
      <mat-icon >visibility</mat-icon>
      <span></span>
      <mat-icon >person</mat-icon><br>      
    View All
  </button>

</div>