button{
    width: 97%;
    height: 150px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
    margin-bottom: 30px;

    font-size: 40px;

}
mat-icon{
    font-size: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 35px
}
