<mat-card>
  <mat-card-header>
    <mat-card-title>Add user</mat-card-title>
  </mat-card-header>
  <mat-card-content class="container">
    <form>
      <div class="propic">
        <img
          src="http://www.monteirolobato.edu.br/public/assets/admin/images/avatars/avatar1_big@2x.png"
          class="prof-pic"
        />
        <!-- <br>
                <input class="fileinput" type="file" accept="image/*"> -->
      </div>
      <mat-form-field class="user-full-width">
        <input
          matInput
          placeholder="Full Name"
          [(ngModel)]="user.fullName"
          name="fullName"
          required
        />
      </mat-form-field>
      <mat-form-field class="user-full-width">
        <mat-select
          placeholder="User Role"
          style="padding: 0px"
          [(ngModel)]="user.userType"
          name="userType"
        >
          <mat-option *ngFor="let type of types" [value]="type.value">
            {{ type.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="user-full-width">
        <input
          matInput
          placeholder="NIC"
          name="userName"
          [(ngModel)]="user.userName"
          required
        />
      </mat-form-field>
      <table class="user-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="user-full-width">
              <input
                matInput
                placeholder="Password"
                type="password"
                [(ngModel)]="user.password"
                name="password"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="user-full-width">
              <input
                matInput
                type="password"
                placeholder="Confirm Password"
                name="cpassword"
              />
            </mat-form-field>
          </td>
        </tr>
      </table>

      <table class="user-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="user-full-width">
              <input
                matInput
                type="number"
                placeholder="Telephone Number"
                ng-maxlength="10"
                [(ngModel)]="user.telephoneNo"
                name="telephoneNo"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="user-full-width">
              <textarea
                matInput
                placeholder="Address"
                [(ngModel)]="user.address"
                name="address"
                style="height: 15px"
              ></textarea>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>

  <mat-card-actions class="buttonContainer">
    <button mat-button color="warn" (click)="onNoClick()">Cancel</button>
    <button mat-flat-button class="primary" color="primary" (click)="addUser()">
      {{ action }}
    </button>
  </mat-card-actions>
</mat-card>
