.user-full-width {
    width: 100%;
}

.container {
    padding: 0% 5% 0% 5%;
}

.prof-pic {
    border: 2px solid #73AD21;
    width: 170px;
    height: 170px;
    border-radius: 50%;
}

.propic {
    left: auto;
    right: auto;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.img-card {
    height: 100%;
}

.fileinput {
    margin-top: 5%;
}

mat-card-content {
    margin-bottom: 0px !important
}

mat-card-actions {
    text-align: right;
    margin-right: 5%;
    margin-bottom: 5px !important;
}


.primary {
    color: #fff !important;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
}
