<mat-card class="main-card">
    <mat-card-header>
      <mat-card-title>All Users</mat-card-title>
    </mat-card-header>
  
    <div class="actionContainer">
      <button mat-flat-button color="primary" class="add-button" (click)="openAddUser()">
        <mat-icon>add</mat-icon>
        Add new user
      </button>
      <mat-form-field class="searchBar">
        <input matInput  placeholder="Search here">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef>
          <h3>NIC</h3>
        </th>
        <td mat-cell *matCellDef="let user"> {{user.userName}} </td>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>
          <h3>Name</h3>
        </th>
        <td mat-cell *matCellDef="let user"> {{user.fullName}} </td>
      </ng-container>
  
      <ng-container matColumnDef="telephoneNo">
        <th mat-header-cell *matHeaderCellDef>
          <h3>Contact number</h3>
        </th>
        <td mat-cell *matCellDef="let user"> {{user.telephoneNo}} </td>
      </ng-container>
      <ng-container matColumnDef="userType">
        <th mat-header-cell *matHeaderCellDef>
          <h3>User role</h3>
        </th>
        <td mat-cell *matCellDef="let user"> {{user.userType}} </td>
      </ng-container>
  
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> <h3>Action</h3></th>
        <td mat-cell *matCellDef="let user">
          <span class="action-delete" (click)="deleteUser(user)">
            <mat-icon>delete</mat-icon>
          </span>
          <span class="action-edit" (click)="updateUser(user)">
            <mat-icon>create</mat-icon>
          </span>
         </td>
      </ng-container>
  
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <span id="rpt"></span>
  
  </mat-card>
  