<app-header></app-header>
<div class="row">
    <div class="colLeft">
        <app-side-nav ></app-side-nav>
    </div>
    <div class="colRight">
       <router-outlet></router-outlet>
     </div>   
</div>
