/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.primary {
    color: #fff;
}

.action-delete {
    color: #F6665B;
    margin-right: 10px;
}

.action-edit {
    color: #4CAF50;
    margin-right: 10px;
}

.action-delete:hover {
    cursor: pointer;
}

.action-edit:hover {
    cursor: pointer;
}